name: PR testing

on:
  pull_request:
    branches: 
    - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out
        uses: actions/checkout@v6
  
      - name: Validate Contribution
        uses: joelanford/opm-validate@main
        with:
          catalog: catalog
