name: Build and Push image

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            perconalab/everest-catalog
          tags: |
            type=raw,value=0.0.0,enable=${{ contains(github.ref_name, 'main') }}
            type=raw,value=latest,enable=${{ contains(github.ref_name, 'main') }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          file: everest-catalog.Dockerfile


#      - name: Run Trivy vulnerability scanner
#        uses: aquasecurity/trivy-action@0.12.0
#        with:
#          image-ref: "perconalab/everest-catalog:0.0.0"
#          format: 'table'
#          exit-code: '1'
#          severity: 'CRITICAL,HIGH'
